   
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="stylesheet" href="Artists.css">
</head>
<body>
   <div id="fullpage">
    <form action="" id="blogs-page" >
        <label for="title">Artist Name:</label>
        <input type="text" name="title" id="title"> <br>
        <label for="dob">Date of Birth:</label>
        <input type="text" name="dob" id="dob"> <br>
        <label for="bio">Bio:</label>
        <input type="text" name="bio" id="bio"> <br>
        <button id="submitbutton">Add Artist</button>

    </form>

    <div id="blog-container">

    </div>
</div>
    <script src="Artists.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.0/axios.min.js"></script>
</body>
</html>