body {
    background-image: url("../Background.jpg");
  
    font-size: 25px;
    color: black;
  }
#nav{
    width:100%;
    background-color: black;
    height:20px;
} 
#top10songs{
    width: 100%;
    height:fit-content;
    border: 2px solid black;

} 
#top10artists{
    width: 100%;
    height:fit-content;
    border: 2px solid black;

}
#allsongs{
    width: 100%;
    height:fit-content;
    border: 2px solid black;

}
.songdiv{
    display:flex;
    border: 2px solid black;
}
.cover{
    margin: 20px;

}
.songname{
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;

}
.dor{
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;

}
.artists{
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;

}
.ratings{
    height: 30px;
    width: 30;
    margin: 20px;
    margin-left: 0px;
}
.rating{
    height: 30px;
    width: 60px;
    margin: 20px;
    margin-left: 0px;

}

.top10songs{
    border:2px solid black;
}
